# Database Configuration
MARIADB_ROOT_PASSWORD=root
MARIADB_PORT=9001

# AppLogService Configuration
APPLOGSERVICE_PORT=9100
APPLOGSERVICE_DB_NAME=applogdb

# AppUserService Configuration
APPUSERSERVICE_PORT=9200
APPUSERSERVICE_DB_NAME=appuserdb

# AuthService Configuration
AUTHSERVICE_PORT=9300
AUTHSERVICE_DB_NAME=authdb

